.cabecalho{
    background-color: #999;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;

    ul{
        list-style: none;

        li a{
            text-decoration: none;
            color: #FFF;
            display: block;
            padding: 8px 16px;
            transition: background-color ease-out 300ms;

            &:hover{
                background-color: #444;
            }
        }
    }

    .active{
        background-color: red !important;
    }
}